@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{
    --pink-theme-background-color : #0F0F0F;
    --pink-theme-main-color : #FF65A3;
    --pink-theme-sub-text-color : #ffffff;
    --pink-theme-nav-background-color : #181818;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--pink-theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}